body{
    margin: 0;
    padding: 0;
}

.header{
    padding: .5rem;
    border: 1px solid black;
}

.stylewrapper{
    background-color: aquamarine;
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: skewY(-15deg);
    transform-origin: 0;
}

/* Fix this style */

.name{
    position: absolute;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    top: 70%;
    left: 10%;
    font-size:  50px;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.img{
    width: 300px;
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

.title{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding:0;
}

.aboutMe{
    border: 1px solid black;
}

.aboutmeP{
    line-height: 1.5;
    font-size: 30px;
}